
    .blender > .title {
        margin: 0;
    }
    .blender {
        display: flex;
        align-items: top;
        justify-content: center;
        flex-wrap: wrap;
        width: 100vw;
        background-color: white;
        overflow-y: scroll;
    }
    .blender > .card {
        display: flex;
        width: 300px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid white;
        height: max-content;
        color: white; 
        padding: 10px;
        margin: 10px;
        background-color: rgb(72, 72, 72);
    }
    .blender > .imgs {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .img {
        width: 100%;
        margin: 10px;
    }