.booking {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "timetable updates"
    "schedule schedule";
    grid-template-rows: 20% 80%;
    grid-template-columns: 80% 20%;
}
.schedule {
    grid-area: schedule;
    width:100%;
    height: 100%;
}
.updates {
    grid-area: updates;
}
.timetable {
    grid-area: timetable;
}
table {
    border: 2px solid;
    border-right: none;
    background-color: #1d2955;
    color: white;
}
caption{
    font-family: 'Roboto Mono', 'Courier New', monospace;
    background-color: #0f133a;
    color: #e5c804;
    font-size: 20px;
}
th {
    font-family: 'Roboto Mono', 'Courier New', monospace;
    background-color: #030833;
    color: #e5c804;
    font-size: 15px;  
}
td {
    font-family: 'Roboto Mono', 'Courier New', monospace;
    text-align: left;
    padding-left: 10px;
    font-weight: normal;
}
.reserved {
    color:rgb(20, 116, 84)
}