.elderhelper {
    width: min(90vw, 700px);
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid white;
    margin: 0;
    color: white;
    background-color: rgb(72, 72, 72);
}

.elderhelper>.title {
    font-size: 24px;
    color: white;
}

.elderhelper>.framework {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.elderhelper>.framework>h4 {
    margin-block-start: 0;
    margin-block-end: 0;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    scroll-snap-align: center;
}

.elderhelper>.link {
    color: white
}

.elderhelper>.link:hover {
    text-decoration: none;
    color: orange
}

.elderhelper> iframe {
    width: 95%;
    height: 450px;
}

.elderhelper>.info, iframe {
    margin: 40px;
}

.elderhelper>.imgs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.elderhelper>.imgs>.img {
    width: min(285px, 80%);
}