.menu {
    width: 100vw;
    column-gap: 10vw;
    height: max-content;
    display: grid;
    justify-content: center;
    color:#23424D;
    background-color: #f0f8ff;
}
.menu-top {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10vw;
    justify-content: center;
}

.name {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    color: rgba(35, 66, 77);
    letter-spacing: 5px;
    font-size: min(15px, 7vw);
    padding: 10px;
}
.first, .surname {
    margin: 0px;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    font-size: min(15px, 10vw);
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
.nav > a {
    color:#23424D;
    text-decoration: none;
    margin: 5px;
}
.nav > a:hover {
    font-weight: bolder;
    color: black;
}
.nav > p.active {
    font-weight: bolder;
    color: #1A41F0;
    margin: 0;
}
.nav > .sjp-nav {
    width:90px;
}
.nav > .projects-nav {
    width:90px;
}
.nav > .aoc-nav {
    width: 160px;
}
.nav > .blender-nav {
    width: 90px;
}
