.menu {
    margin-left: 10vw;
    margin-right: 10vw;
    width: auto;
    height: 100%;
    display: grid;
    grid-template-areas: "name nav"
    "sjp sjp";
    grid-template-columns: auto;
    grid-template-rows: 15% auto;
    column-gap: min(50px, 10vh);
    color:#23424D;
    background-color: #00b3ff;
}
.sjp {
    grid-area: sjp;
    display: grid;
    grid-template-areas: "title"
    "sjps";
}
.name {
    grid-area: name;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    color: rgba(35, 66, 77);
    letter-spacing: 5px;
    font-size: min(15px, 7vw);
}
.first, .surname {
    margin: 0px;
}
.nav {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    font-size: min(auto, 10vw);
    align-items: center;
}
.nav > a {
    color:#23424D;
    font-size: min(auto, 7vw);
}
.nav > a:hover {
    font-weight: bolder;
    font-weight: bolder;
}