.project p, a {
    margin: 0;
}
.projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: max(70vw, 600px);
    overflow-y: scroll;
    row-gap: 10px;
    align-self: center;
    margin-top: 15px;
}
.project {
    display: flex;
    justify-content: left;
    align-items: start;
    width:100%;
    background-color: hwb(34 90% 0%);
}
.info {
    display: grid;
    grid-template-areas: 
    "about tools"
    "links tools";
    grid-template-columns: auto 50%;
    width: 100%;
    border: 1px hwb(34 50% 50%) solid;
}
.title {
    grid-area: title;
    border: 1px solid black;
    width: max(110px, 25%);
    height: 100%;
    padding: 0 10px 0 10px;
    background-color: hwb(34 60% 0%);
    justify-content: center;
    align-content: center;
}
.about {
    grid-area: about;
    align-content: center;
}
.links {
    grid-area: links;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff4e6;
    height: 100%;
}
.links a {
    height: max-content;
    margin: 5px;
    padding: 5px;
    border: 1.5px solid rgba(0, 0, 0, 0.57);
    text-decoration: none;
    color: black;
    border-radius: 15px;
    min-width: 80px;
    text-wrap: nowrap;
}
.links a:hover {
    background-color: #7fffd4;
}
.links a:focus {
    background-color: #fff47f;
}
.tools {
    grid-area: tools;
    display: flex;
    width:100%;
    flex-wrap: wrap;
    background-color: hwb(34 90% 0%);
    justify-content: space-evenly;
    gap: 10px;
}
.tools p {
    color:rgb(116, 116, 116);
}
.turquoise {
    background-color: #7fffd4;
}
.yellow {
    background-color: yellow;
}
.information {
    width: 100%;
}
.information > p > a {
    color: #504646;
    font-weight: bolder;
}
@media (max-width: 800px) {
    .projects {
        width: 90%;
    }
    .project {
        flex-direction: column;
    }
    .title {
        width:100%;
    }
    .info {
        grid-template-areas: "about" 
        "links"
        "tools";
        grid-template-columns: 100%;
    }
    .links {
        margin: 5px 0 5px 0;
    }
    .links a {
        padding: 5px;
        margin:2px;
    }
  }