.udemy-java {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:scroll;
    width: 100vw;
    height: 100%;
    margin-bottom: 30px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /*Firefox*/
}
.udemy-java::-webkit-scrollbar {
    display: none;
}
.dropdown-button {
    width: 80%;
    height: 300px;
}
.sjp-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 400px;
    flex-wrap: wrap;
    width: 80%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: .5px solid rgb(177,177,177)
}
.sjp-field {
    display: flex;
    flex-direction: column;
    width:fit-content;
    margin: 10px;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    background-color: azure;
    height: max-content;
}
.sjp-field > h4 {
    font-weight: 570;
    font-size: auto;
    width:300px;
    margin:0;
}
.sjp-input {
    height: 30px;
    width: 100px;
    text-align: center;
    margin:10px;
}
.sjp-submit {
    height: 20px;
    width:auto;
    margin:10px;
}
.submit-div {
    display: flex;
    align-items: center;
}
.submit-div > p {
    font-size: smaller;
    margin: 0;
    color:gray;
}
.answer {
    margin: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 166, 0);
    align-items: center;
}
.string {
    display: flex;
    display: flex;
    height: 100%;
    font-weight: bolder;
    margin: 0;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
.false {
    background-color: red;
    color: aliceblue;
}
.true {
    background-color: greenyellow;
}
.boolean {
    display: flex;
    height: 100%;
    font-weight: bolder;
    margin: 0;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
.boolean-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}
.option1 {
    appearance: none;
    border:0px;
    margin:4px;
    background-color: rgb(64, 88, 88);
    color:white;
    padding: 6px;
}
.option1:focus {
    background-color: rgb(99, 191, 161);
    color: black;
}