.sjp-fields {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.sjp-field {
    display: flex;
    flex-direction: row;
    background-color: red;
    width: max-content;
    height: max-content;
    column-gap: 20px;
    align-items: center;
}
.sjp-field > p {
    font-size: auto;
    width:300px;
    margin:0;
}
.sjp-input {
    height: 20px;
}
.sjp-submit {
    height: 20px;
    width:auto;
}