.details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.column {
    flex-direction: column;
}
h3 {
    margin:0;
    font-weight: normal;
}
@media screen and (min-width:769px){
    .details > a {
        color: white;
    }
    .timeline-web {
        display: grid;
        grid-template-areas: "now time next"
        "now time next"
        "done done done";
        grid-template-rows: 200px 200px auto;
        grid-template-columns:calc(50% - 75px) 150px calc(50% - 75px);
        width:100%;
        height:100%;
        margin: 0;
        gap: 0 0;
        color:white;
        background: #23424D;
    }
    .now {
        grid-area: now;
        background: rgba(195, 103, 16, 0.7);
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap:20px;
    }
    .next {
        grid-area: next;
        background: rgba(128, 135, 102, 0.7);
        height: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px
    }
    .timeline-mobile {
        display: none;
    }
    .update-timeline {
        grid-area: time;
        overflow-y: visible;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        gap: 120px;
        height: 100% ;
        background: linear-gradient(
            to bottom,
            rgba(128, 135, 102, 0.7) 0%,
            rgba(128, 135, 102, 0.7) 20%,
            rgba(195, 103, 16, 0.7) 20%
        )
    }
    .flex-done {
        display: grid;
        grid-template-areas: "jobs-left months jobs-right";
        grid-template-rows: 100%;
        grid-template-columns: calc(50% - 75px) 150px calc(50% - 75px);
        grid-area: done;
        overflow-y: scroll;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-timeline: --timeline y;
    }
    .uni > .content {
        animation-name: movingUni;
        animation-timing-function: linear;
        animation-timeline: --timeline;
    }
    @keyframes movingUni {
        0%, 10% {
            top:-47%;
        }
        25% {
            top: -18%
        }
        /* 60% {
            top: 19%
        } */
        75% {
            top: 34%
        }
        85%, 100% {
            top:47%;
        }
    }
    .flex-done::after {
        content: '';
        position: absolute;
        width:100%;
        height: 5%;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom, transparent 20%, rgba(0, 0, 0, 0.25) 100%);
        z-index: 1;
    }
    .flex-done::-webkit-scrollbar {
        display: none;
    }
    .jobs-right {
        grid-area: jobs-right;
        overflow: visible;
        background: linear-gradient(
            to bottom,
            rgba(128, 135, 102, 0.7),
            rgba(128, 135, 102, 0.7) 15px,
            transparent 15px
        )
    }
    .jobs-left {
        grid-area: jobs-left;
        overflow: visible;
        background: linear-gradient(
            to bottom,
            rgba(195, 103, 16, 0.7),
            rgba(195, 103, 16, 0.7) 15px,
            transparent 15px
        )
    }
    .timeline {
        grid-area: months;
        display: grid;
        grid-template-columns: 150px;
        gap: 1px 2px;
        justify-items: centre;
        align-items: center;
        height: max-content;
        background: transparent;
        overflow: visible;
        z-index: 1;
        background: linear-gradient(
            to bottom,
            rgba(195, 103, 16, 0.7) 0px,
            rgba(195, 103, 16, 0.7) 15px,
            transparent 15px
        );
        grid-template-areas: 
        "january-2024"
        "year-2023"
        "december-2023"
        "november-2023"
        "october-2023"
        "september-2023"
        "august-2023"
        "july-2023"
        "june-2023"
        "may-2023"
        "april-2023"
        "march-2023"
        "february-2023"
        "january-2023"
        "year-2022"
        "december-2022"
        "november-2022"
        "october-2022"
        "september-2022"
        "august-2022"
        "july-2022"
        "june-2022"
        "may-2022"
        "april-2022"
        "march-2022"
        "february-2022"
        "january-2022"
        "year-2021"
        "december-2021"
        "november-2021"
        "october-2021"
        "september-2021"
        "august-2021"
        "july-2021"
        "june-2021"
        "may-2021"
        "april-2021"
        "march-2021"
        "february-2021"
        "january-2021"
        "year-2020"
        "december-2020"
        "november-2020"
        "october-2020"
        "september-2020"
        "august-2020"
        "july-2020"
        "june-2020"
        "may-2020"
        "april-2020"
        "march-2020"
        "february-2020"
        "january-2020"
        "year-2019"
        "december-2019"
        "november-2019"
        "october-2019"
        "september-2019"
        "august-2019"
        "july-2019"
        "june-2019"
        "may-2019"
        "april-2019"
        "march-2019"
        "february-2019"
        "january-2019"
        "year-2018"
        "december-2018"
        "november-2018"
        "october-2018"
        "september-2018"
        "august-2018"
        "july-2018"
        "june-2018"
        "may-2018"
        "april-2018"
        "march-2018"
        "february-2018"
        "january-2018"
        "year-2017"
        "december-2017"
        "november-2017"
        "october-2017"
        "september-2017"
        "august-2017"
        "july-2017"
        "june-2017"
        "may-2017"
        "april-2017"
        "march-2017"
        "february-2017"
        "january-2017";
    }
    .date {
        z-index: 1;
    }
    .year {
        background: black;
        color: white;
        font-weight: 900;
    }
    .november-2023 {
        grid-area: november-2023;
    }
    .october-2023 {
        grid-area: october-2023;
    }
    .september-2023 {
        grid-area: september-2023;
    }
    .august-2023 {
        grid-area: august-2023;
    }
    .july-2023 {
        grid-area: july-2023;
    }
    .june-2023 {
        grid-area: june-2023;
    }
    .may-2023 {
        grid-area: may-2023;
    }
    .april-2023 {
        grid-area: april-2023;
    }
    .march-2023 {
        grid-area: march-2023;
    }
    .february-2023 {
        grid-area: february-2023;
    }
    .january-2023 {
        grid-area: january-2023;
    }
    .year-2022 {
        grid-area: year-2022;
    }
    .december-2022 {
        grid-area: december-2022;
    }
    .november-2022 {
        grid-area: november-2022;
    }
    .october-2022 {
        grid-area: october-2022;
    }
    .september-2022 {
        grid-area: september-2022;
    }
    .august-2022 {
        grid-area: august-2022;
    }
    .july-2022 {
        grid-area: july-2022;
    }
    .june-2022 {
        grid-area: june-2022;
    }
    .may-2022 {
        grid-area: may-2022;
    }
    .april-2022 {
        grid-area: april-2022;
    }
    .march-2022 {
        grid-area: march-2022;
    }
    .february-2022 {
        grid-area: february-2022;
    }
    .january-2022 {
        grid-area: january-2022;
    }
    .year-2021 {
        grid-area: year-2021;
    }
    .december-2021 {
        grid-area: december-2021;
    }
    .november-2021 {
        grid-area: november-2021;
    }
    .october-2021 {
        grid-area: october-2021;
    }
    .september-2021 {
        grid-area: september-2021;
    }
    .august-2021 {
        grid-area: august-2021;
    }
    .july-2021 {
        grid-area: july-2021;
    }
    .june-2021 {
        grid-area: june-2021;
    }
    .may-2021 {
        grid-area: may-2021;
    }
    .april-2021 {
        grid-area: april-2021;
    }
    .march-2021 {
        grid-area: march-2021;
    }
    .february-2021 {
        grid-area: february-2021;
    }
    .january-2021 {
        grid-area: january-2021;
    }
    .december-2020 {
        grid-area: december-2020;
    }
    .november-2020 {
        grid-area: november-2020;
    }
    .october-2020 {
        grid-area: october-2020;
    }
    .september-2020 {
        grid-area: september-2020;
    }
    .august-2020 {
        grid-area: august-2020;
    }
    .july-2020 {
        grid-area: july-2020;
    }
    .june-2020 {
        grid-area: june-2020;
    }
    .may-2020 {
        grid-area: may-2020;
    }
    .april-2020 {
        grid-area: april-2020;
    }
    .march-2020 {
        grid-area: march-2020;
    }
    .february-2020 {
        grid-area: february-2020;
    }
    .january-2020 {
        grid-area: january-2020;
    }
    .december-2019 {
        grid-area: december-2019;
    }
    .november-2019 {
        grid-area: november-2019;
    }
    .october-2019 {
        grid-area: october-2019;
    }
    .september-2019 {
        grid-area: september-2019;
    }
    .august-2019 {
        grid-area: august-2019;
    }
    .july-2019 {
        grid-area: july-2019;
    }
    .june-2019 {
        grid-area: june-2019;
    }
    .may-2019 {
        grid-area: may-2019;
    }
    .april-2019 {
        grid-area: april-2019;
    }
    .march-2019 {
        grid-area: march-2019;
    }
    .february-2019 {
        grid-area: february-2019;
    }
    .january-2019 {
        grid-area: january-2019;
    }
    /* DONE */
    .done:nth-last-of-type(1) {
        margin-bottom:90px;
    }
    .done {
        display: flex;
        align-items: center;
        background-color: inherit;
        margin: 10px 0 10px 0;
        width: 100%;
    }
    .jobs-right > .done > .content {
        display: flex;
        justify-content: center;
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        position: relative;
        margin-left:170px;
        margin-right:20px;
    }
    .jobs-right > .container {
        margin: 0;
        margin-left: -150px;
        width: calc(100% + 150px);
    }
    .jobs-left > .container {
        display: flex;
        justify-content: center;
        margin:0;
        width: calc(100% + 150px);
    }
    .jobs-left > .done > .content {
        display: flex;
        margin-right: 170px;
        margin-left: 20px;
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        position: relative;
    }
    .aoc2023.container {
        margin-top:15px;
        background: #ffff0080;
        height: 50px;
    }
    .aoc2023 > .content {
        background: transparent;
        border-bottom-right-radius: 0;
    }
    .bootcamp.container {
        margin-top:20px;
        background: rgba(255, 0, 0, 0.5);
        height: 75px;
    }
    .bootcamp > .content {
        background: transparent;
        border-bottom-right-radius: 0;
    }
    .basics.container {
        background-color: rgba(0, 0, 255, 0.5);
    }
    .basics > .content {
        color: white;
        height: 90px;
        width:max-content;
        border-top-right-radius: 0;
    }
    .newchem2.container {
        margin-top: 215px;
        background: #ffff0080;
        height:330px;
    }
    .newchem2 > .content {
        animation-name: movingNewChem2;
        animation-timing-function: linear;
        animation-timeline: --timeline;
    }
    @keyframes movingNewChem2 {
        0%, 10% {
            top:0%;
        }
        20%, 100% {
            top:30%;
        }
    }
    .uni.container {
        background-color: rgba(255, 0, 0, 0.5);
        height:1234.88px;
    }
    .northumbria.container {
        background: #0000ff80;
        height:324.88px;
    }
    .creams.container {
        margin-top: 550px;
        background-color: rgba(255, 255, 0, 0.5);
        height:1349.88px;
    }
    .creams > .content {
        animation-name: movingCreams;
        animation-timing-function: linear;
        animation-timeline: --timeline;
    }
    @keyframes movingCreams {
        0%, 20% {
            top:-48%;
        }
        100% {
            top:35%;
        }
    }
    .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: transparent;
    margin-right: 20px;
    position: relative;
    border-radius: 6px;
    }

}   

@media screen and (max-width: 768px) {
    .timeline-web {
        display: none;
    }
}