span { 
    height: fit-content;
}

.grammar {
    font-weight: bolder;
    color: rgb(255, 0, 0);
}
.vocab {
    font-weight: bolder;
    color:rgb(35, 17, 151);
}
.dashboard {
    display: grid;
    grid-template-areas: ". buttons"
    "writing feedback";
    grid-template-columns: auto auto;
    grid-template-rows: 10% 90%;
    overflow-y: scroll;
    margin:10px;
}
.writing {
    align-self: center;
    grid-area: writing;
}
.grammar-feedback {
    grid-area: feedback;
    height:max-content
}
.vocab-feedback {
    grid-area: feedback;
    height: fit-content;
    height: 100%;
    
}
.feedback-buttons {
    grid-area: buttons;
}