.aoc-2023 > .title {
    color:white;
    font-size: larger;
    margin: 10px;
}
.aoc-2023 > .task {
    color: white
}
.aoc-2023 > .task:hover {
    background-color:#23424D
}
.aoc-2023 > a {
    color:white;
}
.aoc-2023 > .update {
    color: yellow;
}
.aoc-2023 > .list {
    margin-top: 30vh;
}
.aoc-2023 > .message {
    margin-top: 50px;
    color:white;
}