a {
    color:white;
    font-size: 17px;
}
.back {
    color:rgb(255, 255, 0);
    font-weight: 600;
    letter-spacing: 5px;
}
.latest {
    display: inline-block;
}
.update-message {
    position: relative;
}
