@media screen and (min-width:769px){
.project-img {
    width:100%;
    border-top: 2px solid white;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.projects-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.projects-section::-webkit-scrollbar {
    height: 0px;
}
.project-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid white;
    margin: 10px;
    width:30%;
    height:80%;
}

.framework {
    flex-wrap: no-wrap;
    overflow-x: scroll; 
    width: 90%;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.framework::-webkit-scrollbar {
    height: 0px;
}

.project-title {
    text-decoration: none;
    color: white;
}

.project-title:hover {
    text-decoration: none;
    color: rgb(0, 255, 0);
}

.github-link {
    text-decoration: none;
    color: white
}

.github-link:hover {
    text-decoration: none;
    color: orange
}

.project-title-ongoing {
    color: rgb(0, 255, 0);
}

.ongoing {
    color: orange;
}

section > div > h2,h3,h4 {
    color:white;
}
h1,
h2{
    margin: 10px;
}

.framework > h4 {
    margin-block-start: 0;
    margin-block-end: 0;
    display: inline-block;
    margin-right: 15px;
    margin-left:15px;
    margin-bottom:15px;
    scroll-snap-align: center;
}
.nav-tags {
    color:white;
    text-decoration: none;
}

.nav-tags:hover {
    color:rgb(255, 0, 0);
    text-decoration: none;
    font-size: 20px;
    padding-bottom:-20px;
}

.project-imgs {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width:100%;
    height:max-content;
}
}
@media screen and (max-width:768px) {
    section > div > h2,h3,h4 {
        color:white;
    }
    .projects-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: max-content;
        overflow-y: visible;
    }
    .projects-section::-webkit-scrollbar {
        height: max-content;
    }
}